<div class="space-y-6">
  <div *ngFor="let proposal of myProposals" class="proposal-item">
    <app-voting-proposal
      [proposal]="proposal"
      [showVotingButtons]="false"
      [voterId]="currentUserId"
      [currentUserId]="currentUserId"
      [isCreator]="true"
    ></app-voting-proposal>
  </div>

  <div *ngIf="myProposals.length === 0" class="text-center py-12">
    <div class="text-gray-500 text-lg">
      <svg class="mx-auto h-16 w-16 text-gray-400 mb-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M9 5H7a2 2 0 00-2 2v10a2 2 0 002 2h8a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-3 7h3m-3 4h3m-6-4h.01M9 16h.01" />
      </svg>
      <h3 class="text-xl font-medium mb-2">No proposals created by you yet</h3>
      <p>Create your first proposal to get started with team voting!</p>
    </div>
  </div>
</div>
